___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise - 

# The Data

The dataset contains a list of all stocks included in the SP500 and associated key financials. <br />

Note that there are multiple viable solutions for most of the tasks!


Acknowledgements
----------------------------
The dataset was originally provided on https://datahub.io/core/s-and-p-500-companies-financials and is licensed under Open Data Commons Public Domain Dedication and License. (https://opendatacommons.org/licenses/pddl/1-0/)

**Task: Import the necessary libraries**

In [1]:
# CODE HERE
import pandas as pd
import numpy as np

**Task: Read the two datasets provided in the current directory (also available in the DATA folder. (The file names are: constituents.csv and constituents-financials.csv)**

In [2]:
# CODE HERE
constituents_df = pd.read_csv('constituents.csv')
constituents_finantials_df = pd.read_csv('constituents-financials.csv')

**Task: List all columns of the two datasets. Additionally retrieve the datatype for each column**

In [5]:
# CODE HERE
print(constituents_df.dtypes)
print(constituents_finantials_df.dtypes)

Symbol    object
Name      object
Sector    object
dtype: object
Symbol             object
Price             float64
Price/Earnings    float64
Dividend Yield    float64
Earnings/Share    float64
52 Week Low       float64
52 Week High      float64
Market Cap          int64
EBITDA            float64
Price/Sales       float64
Price/Book        float64
SEC Filings        object
dtype: object

**Task: Print the first 5 rows of both datasets**

In [7]:
# CODE HERE
constituents_df.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [8]:
constituents_finantials_df.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

**Task: Drop the SEC Filings column**

In [11]:
# CODE HERE
constituents_finantials_df.drop('SEC Filings', axis=1, inplace=True)

**Task: Set the Symbol column to the index in the financials dataset**

In [14]:
# CODE HERE
constituents_finantials_df.set_index('Symbol', inplace=True)

**Task: What are the 10 largest companies according to market cap?**

In [25]:
constituents_finantials_df.sort_values('Market Cap', ascending=False, inplace=True)

In [26]:
# CODE HERE
constituents_finantials_df.sort_values('Market Cap', ascending=False).head(10).index

Index(['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'FB', 'JPM', 'JNJ', 'XOM', 'BAC',
       'WMT'],
      dtype='object', name='Symbol')

**Task: Return all information about the 10 largest companies according by market cap**

In [27]:
# CODE HERE
constituents_finantials_df.sort_values('Market Cap', ascending=False).head(10)

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AAPL,155.15,16.86,1.579541,9.20,180.1000,131.120,809508034020,7.938600e+10,3.458609,5.66
GOOGL,1007.71,31.48,0.000000,22.27,1198.0000,824.300,733823966137,3.421700e+10,6.801692,4.70
MSFT,85.01,25.76,1.874791,2.97,96.0700,63.220,689978437468,4.107900e+10,7.113097,9.49
AMZN,1350.50,296.16,0.000000,6.16,1498.0000,812.500,685873374731,1.613200e+10,3.927053,24.28
FB,171.58,27.90,0.000000,5.39,195.3200,132.440,523423036576,2.362400e+10,13.241967,7.08
JPM,107.88,15.43,1.984584,6.30,117.3529,81.635,386613611000,0.000000e+00,3.371499,1.60
JNJ,126.36,17.31,2.556688,0.39,148.3200,113.150,353062464971,2.243000e+10,4.632622,4.74
XOM,76.07,21.37,4.003120,1.88,89.3000,76.050,326148660000,3.905200e+10,1.770194,1.85
BAC,29.74,16.34,1.536000,1.55,32.6700,22.070,321478200969,0.000000e+00,3.201187,1.24
WMT,100.02,23.10,1.983471,4.39,109.9800,66.890,304680931618,3.072100e+10,0.820994,3.89

Note: The difference between GOOG and GOOGL is, that GOOG shares have no voting rights

**Task: Drop GOOG**

In [24]:
# CODE HERE
constituents_finantials_df.drop('GOOG', inplace=True)

**Task: How many companies have a dividend yield > 4% ?**

In [30]:
# CODE HERE
constituents_finantials_df[constituents_finantials_df['Dividend Yield'] > 4].index

Index(['XOM', 'T', 'VZ', 'PM', 'OXY', 'DUK', 'SPG', 'D', 'SO', 'F', 'ICE',
       'PSA', 'OKE', 'GGP', 'HCN', 'PPL', 'EIX', 'VTR', 'CTL', 'L', 'HST',
       'STX', 'LB', 'O', 'FE', 'ETR', 'CNP', 'HCP', 'MAA', 'IRM', 'MAC', 'M',
       'HP', 'AES', 'KIM', 'SCG', 'NAVI'],
      dtype='object', name='Symbol')

**Task: What is the mean Earnings per Share for all companies with a market cap > 1e+11**

In [34]:
# CODE HERE
constituents_finantials_df[constituents_finantials_df['Market Cap'] > (10**11)]['Earnings/Share']

Symbol
AAPL      9.20
GOOGL    22.27
MSFT      2.97
AMZN      6.16
FB        5.39
JPM       6.30
JNJ       0.39
XOM       1.88
BAC       1.55
WMT       4.39
WFC       4.07
V         2.80
BRK.B     9.76
T         4.76
HD        6.46
CVX       4.85
UNH      10.71
INTC      1.98
PFE       3.51
VZ        7.36
PG        5.60
BA       13.47
ORCL      2.20
CSCO      1.91
C        -3.10
KO        1.49
MA        3.65
CMCSA     4.74
ABBV      3.29
DWDP      1.59
PEP       4.36
DIS       5.70
PM        4.48
MRK       1.40
IBM       6.11
MMM       7.92
NVDA      2.57
GE       -0.72
MCD       6.36
AMGN      2.57
MO        5.31
NFLX      1.25
HON       2.08
MDT       2.89
GILD      9.95
NKE       2.51
UTX       5.70
BMY       2.65
ABT       0.26
UNP      13.52
TXN       3.60
Name: Earnings/Share, dtype: float64

**Task: How many companies have a positive earnings per shares ratio?**

In [40]:
# CODE HERE
constituents_finantials_df[constituents_finantials_df['Earnings/Share'] > 0].count()

Price             452
Price/Earnings    451
Dividend Yield    452
Earnings/Share    452
52 Week Low       452
52 Week High      452
Market Cap        452
EBITDA            452
Price/Sales       452
Price/Book        447
dtype: int64

**Task: Which company pays the highest dividend yield? What was its 52 week high?**

In [43]:
# CODE HERE
constituents_finantials_df.sort_values('Dividend Yield', ascending=False)[['52 Week High']]

        52 Week High
Symbol
CTL           13.161
KIM           14.330
IRM           32.050
F             10.190
SCG           35.310
...              ...
DVA           52.510
QRVO          62.680
MU            22.640
KORS          32.380
CHK            2.800

[504 rows x 1 columns]

**Task: Return the company with the largest spread between 52 weeks high and low**

In [51]:
# CODE HERE
spread = constituents_finantials_df['52 Week High'] - constituents_finantials_df['52 Week Low']
spread.sort_values(ascending=False).head(1)

Symbol
AES   -2.05
dtype: float64

**Task: Return all companies whith a price between \\$ 50 and \\$ 100**

In [54]:
# CODE HERE
constituents_finantials_df[(50 < constituents_finantials_df['Price']) & (constituents_finantials_df['Price'] < 100)]

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
MSFT,85.01,25.76,1.874791,2.97,96.0700,63.220,689978437468,4.107900e+10,7.113097,9.49
XOM,76.07,21.37,4.003120,1.88,89.3000,76.050,326148660000,3.905200e+10,1.770194,1.85
WFC,55.40,13.58,2.711158,4.07,66.3100,49.270,281463620775,0.000000e+00,2.872819,1.58
PG,80.22,20.46,3.370479,5.60,94.6700,80.100,206318943299,1.724900e+10,3.159500,3.85
C,71.87,13.48,1.706894,-3.10,80.7000,56.140,192709302000,0.000000e+00,2.185759,0.90
...,...,...,...,...,...,...,...,...,...,...
BHF,55.44,22.63,0.000000,-24.62,75.0000,52.751,7066613254,0.000000e+00,1.418836,0.51
RHI,52.26,20.18,1.707577,2.32,60.5900,42.920,7047165475,5.651960e+08,1.333040,5.98
SRCL,70.55,16.26,0.000000,2.08,88.0000,61.250,6218560288,3.050850e+08,2.260732,2.15
BF.B,63.33,37.04,1.121696,1.70,69.9028,45.415,5498033502,1.139000e+09,1.841140,12.36
AIZ,85.16,33.27,2.531359,9.08,106.9850,85.910,4653993594,0.000000e+00,0.982187,1.12

**Task: The market cap is really hard to read. Create a new column called "Market Cap in Billion" which shows the market cap in billions**

In [56]:
# CODE HERE
constituents_finantials_df['Market Cap in Billion'] = constituents_finantials_df['Market Cap']/10**9

**Task: Is there a correlation between the market cap and the Dividend Yield?**

In [ ]:
# CODE HERE

In [60]:
constituents_finantials_df

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion
Symbol,,,,,,,,,,,
AAPL,155.15,16.86,1.579541,9.20,180.100,131.120,809508034020,7.938600e+10,3.458609,5.66,809.508034
GOOGL,1007.71,31.48,0.000000,22.27,1198.000,824.300,733823966137,3.421700e+10,6.801692,4.70,733.823966
MSFT,85.01,25.76,1.874791,2.97,96.070,63.220,689978437468,4.107900e+10,7.113097,9.49,689.978437
AMZN,1350.50,296.16,0.000000,6.16,1498.000,812.500,685873374731,1.613200e+10,3.927053,24.28,685.873375
FB,171.58,27.90,0.000000,5.39,195.320,132.440,523423036576,2.362400e+10,13.241967,7.08,523.423037
...,...,...,...,...,...,...,...,...,...,...,...
NAVI,13.38,7.56,4.558404,1.01,16.970,11.481,3692691330,0.000000e+00,0.698658,1.02,3.692691
RRC,12.82,35.61,0.609756,-2.79,34.090,12.700,3255587970,8.200950e+08,1.962434,0.59,3.255588
PDCO,32.88,14.05,3.072378,1.79,48.295,32.070,3209792400,3.596440e+08,0.787279,2.34,3.209792
SIG,49.38,6.65,2.473075,7.03,77.940,46.090,3034275549,8.527000e+08,0.756470,1.38,3.034276
CHK,2.82,4.70,0.000000,-6.44,6.590,2.800,2626102121,1.470000e+09,0.407652,1.84,2.626102

**Task: Merge the financials dataframe with the constituents dataframe**

In [61]:
# CODE HERE
merge = constituents_df.merge(constituents_finantials_df, on='Symbol')

**Task: Print all sectors. How often does each sector occur?**

In [63]:
# CODE HERE
merge.Sector.value_counts()

Consumer Discretionary        84
Information Technology        69
Financials                    68
Industrials                   67
Health Care                   61
Consumer Staples              34
Real Estate                   33
Energy                        32
Utilities                     28
Materials                     25
Telecommunication Services     3
Name: Sector, dtype: int64

**Task: Replace Information Technology by "IT"**

In [66]:
#CODE HERE
merge['Sector'].str.replace('Information Technology', 'IT')

0                 Industrials
1                 Industrials
2                 Health Care
3                 Health Care
4                          IT
                ...
499               Industrials
500    Consumer Discretionary
501               Health Care
502                Financials
503               Health Care
Name: Sector, Length: 504, dtype: object

**Task: Add a \$ before the stock price**

In [71]:
# CODE HERE
merge.Price.apply(lambda x: '$' + str(x))

0      $222.89
1       $60.24
2       $56.27
3      $108.48
4      $150.51
        ...
499     $70.24
500      $76.3
501    $115.53
502     $50.71
503     $71.51
Name: Price, Length: 504, dtype: object