___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise - Solutions

# The Data

The dataset contains a list of all stocks included in the SP500 and associated key financials. <br />

Note that there are multiple viable solutions for most of the tasks!


Acknowledgements
----------------------------
The dataset was originally provided on https://datahub.io/core/s-and-p-500-companies-financials and is licensed under Open Data Commons Public Domain Dedication and License. (https://opendatacommons.org/licenses/pddl/1-0/)

**Task: Import the necessary libraries**

In [1]:
# CODE HERE

In [2]:
import pandas as pd

**Task: Read the two datasets provided in the archive directory (constituents.csv and constituents-financials.csv)**

In [3]:
# CODE HERE

In [4]:
constituents = pd.read_csv("constituents.csv")
financials = pd.read_csv("constituents-financials.csv")

**Task: List all columns of the two datasets. Additionally retrieve the datatype for each column**

In [5]:
# CODE HERE

In [6]:
constituents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  505 non-null    object
 1   Name    505 non-null    object
 2   Sector  505 non-null    object
dtypes: object(3)
memory usage: 12.0+ KB

In [7]:
financials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          505 non-null    object
 1   Price           505 non-null    float64
 2   Price/Earnings  503 non-null    float64
 3   Dividend Yield  505 non-null    float64
 4   Earnings/Share  505 non-null    float64
 5   52 Week Low     505 non-null    float64
 6   52 Week High    505 non-null    float64
 7   Market Cap      505 non-null    int64
 8   EBITDA          505 non-null    float64
 9   Price/Sales     505 non-null    float64
 10  Price/Book      497 non-null    float64
 11  SEC Filings     505 non-null    object
dtypes: float64(9), int64(1), object(2)
memory usage: 47.5+ KB

**Task: Print the first 5 rows of both datasets**

In [8]:
# CODE HERE

In [9]:
constituents.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [10]:
financials.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

**Task: Drop the SEC Filings column**

In [11]:
# CODE HERE

In [12]:
financials = financials.drop("SEC Filings",axis=1)

**Task: Set the Symbol column to the index in the financials dataset**

In [13]:
# CODE HERE

In [14]:
financials.set_index("Symbol", inplace=True)

**Task: What are the 10 largest companies according to market cap?**

In [15]:
# CODE HERE

In [16]:
financials["Market Cap"].nlargest(10)

Symbol
AAPL     809508034020
GOOGL    733823966137
GOOG     728535558140
MSFT     689978437468
AMZN     685873374731
FB       523423036576
JPM      386613611000
JNJ      353062464971
XOM      326148660000
BAC      321478200969
Name: Market Cap, dtype: int64

**Task: Return all information about the 10 largest companies according by market cap**

In [17]:
# CODE HERE

In [18]:
financials.sort_values("Market Cap", ascending=False).head(10)

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AAPL,155.15,16.86,1.579541,9.20,180.1000,131.1200,809508034020,7.938600e+10,3.458609,5.66
GOOGL,1007.71,31.48,0.000000,22.27,1198.0000,824.3000,733823966137,3.421700e+10,6.801692,4.70
GOOG,1001.52,40.29,0.000000,22.27,1186.8900,803.1903,728535558140,3.271400e+10,6.772653,4.67
MSFT,85.01,25.76,1.874791,2.97,96.0700,63.2200,689978437468,4.107900e+10,7.113097,9.49
AMZN,1350.50,296.16,0.000000,6.16,1498.0000,812.5000,685873374731,1.613200e+10,3.927053,24.28
FB,171.58,27.90,0.000000,5.39,195.3200,132.4400,523423036576,2.362400e+10,13.241967,7.08
JPM,107.88,15.43,1.984584,6.30,117.3529,81.6350,386613611000,0.000000e+00,3.371499,1.60
JNJ,126.36,17.31,2.556688,0.39,148.3200,113.1500,353062464971,2.243000e+10,4.632622,4.74
XOM,76.07,21.37,4.003120,1.88,89.3000,76.0500,326148660000,3.905200e+10,1.770194,1.85
BAC,29.74,16.34,1.536000,1.55,32.6700,22.0700,321478200969,0.000000e+00,3.201187,1.24

Note: The difference between GOOG and GOOGL is, that GOOG shares have no voting rights

**Task: Drop GOOG**

In [19]:
# CODE HERE

In [20]:
financials = financials.drop('GOOG',axis=0)
# financials.drop(index="GOOG", inplace=True)

**Task: How many companies have a dividend yield > 4% ?**

In [21]:
# CODE HERE

In [22]:
len(financials[financials["Dividend Yield"] > 4])

37

**Task: What is the mean Earnings per Share for all companies with a market cap > 1e+11**

In [23]:
# CODE HERE

In [24]:
financials[financials["Market Cap"] > 1e+11]["Earnings/Share"].mean()

4.746470588235294

**Task: How many companies have a positive earnings per shares ratio?**

In [25]:
# CODE HERE

In [26]:
(financials["Price/Earnings"] > 0).sum()

491

**Task: Which company pays the highest dividend yield? What was its 52 week high?**

In [27]:
# CODE HERE

In [28]:
financials.sort_values(by="Dividend Yield", ascending=False).iloc[0]

Price             1.620000e+01
Price/Earnings    8.350000e+00
Dividend Yield    1.266120e+01
Earnings/Share    1.160000e+00
52 Week Low       2.761000e+01
52 Week High      1.316100e+01
Market Cap        1.823720e+10
EBITDA            5.577000e+09
Price/Sales       1.479598e+00
Price/Book        1.390000e+00
Name: CTL, dtype: float64

**Task: Return the company with the largest spread between 52 weeks high and low**

In [29]:
# CODE HERE

In [30]:
index = abs(financials["52 Week High"] - financials["52 Week Low"]).idxmax()
financials.loc[index]

Price             1.350500e+03
Price/Earnings    2.961600e+02
Dividend Yield    0.000000e+00
Earnings/Share    6.160000e+00
52 Week Low       1.498000e+03
52 Week High      8.125000e+02
Market Cap        6.858734e+11
EBITDA            1.613200e+10
Price/Sales       3.927053e+00
Price/Book        2.428000e+01
Name: AMZN, dtype: float64

**Task: Return all companies whith a price between \\$ 50 and \\$ 100**

In [31]:
# CODE HERE

In [32]:
financials[financials["Price"].between(50, 100)]

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AOS,60.24,27.76,1.147959,1.70,68.390,48.925,10783419933,6.010000e+08,3.575483,6.35
ABT,56.27,22.51,1.908982,0.26,64.600,42.280,102121042306,5.744000e+09,3.740480,3.19
ATVI,65.83,31.80,0.431903,1.28,74.945,38.930,52518668144,2.704000e+09,10.595120,5.16
AFL,83.25,12.24,2.429907,11.01,91.730,68.800,33422948000,0.000000e+00,1.542934,1.53
A,65.05,27.45,0.875698,2.10,75.000,49.230,21984606918,1.094000e+09,6.493563,4.56
...,...,...,...,...,...,...,...,...,...,...
XLNX,62.82,27.19,2.090488,2.32,77.260,54.990,17064975551,8.454680e+08,7.101206,7.22
XYL,70.24,30.94,1.170079,1.83,76.810,46.860,12915021000,7.220000e+08,2.726209,5.31
YUM,76.30,27.25,1.797080,4.07,86.930,62.850,27003303098,2.289000e+09,6.313636,212.08
ZION,50.71,17.73,1.480933,2.60,55.610,38.430,10670678640,0.000000e+00,3.794579,1.42
ZTS,71.51,32.80,0.682372,1.65,80.130,52.000,35991109776,1.734000e+09,9.280896,18.09

**Task: The market cap is really hard to read. Create a new column called "Market Cap in Billion" which shows the market cap in billions**

In [33]:
# CODE HERE

In [34]:
financials["Market Cap in Billion"] = financials["Market Cap"] / 1000000000

In [35]:
financials.head()

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion
Symbol,,,,,,,,,,,
MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055
AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420
ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042
ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347
ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856

**Task: Is there a correlation between the market cap and the Dividend Yield?**

In [36]:
# CODE HERE

In [37]:
financials[["Market Cap in Billion", "Dividend Yield"]].corr()

                       Market Cap in Billion  Dividend Yield
Market Cap in Billion               1.000000       -0.003506
Dividend Yield                     -0.003506        1.000000

**Task: Merge the financials dataframe with the constituents dataframe**

In [38]:
# CODE HERE

In [39]:
merge = pd.merge(financials, constituents, on="Symbol")

In [40]:
merge.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion,Name,Sector
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055,3M Company,Industrials
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420,A.O. Smith Corp,Industrials
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042,Abbott Laboratories,Health Care
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347,AbbVie Inc.,Health Care
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856,Accenture plc,Information Technology

**Task: Print all sectors. How often does each sector occur?**

In [41]:
# CODE HERE

In [42]:
merge["Sector"].unique()

array(['Industrials', 'Health Care', 'Information Technology',
       'Consumer Discretionary', 'Utilities', 'Financials', 'Materials',
       'Real Estate', 'Consumer Staples', 'Energy',
       'Telecommunication Services'], dtype=object)

In [43]:
merge["Sector"].value_counts()

Sector
Consumer Discretionary        84
Information Technology        69
Financials                    68
Industrials                   67
Health Care                   61
Consumer Staples              34
Real Estate                   33
Energy                        32
Utilities                     28
Materials                     25
Telecommunication Services     3
Name: count, dtype: int64

**Task: Replace Information Technology by "IT"**

In [44]:
#CODE HERE

In [45]:
mapper = {"Information Technology": "IT"}
merge["Sector"].replace(mapper, inplace=True)

In [46]:
merge.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion,Name,Sector
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055,3M Company,Industrials
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420,A.O. Smith Corp,Industrials
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042,Abbott Laboratories,Health Care
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347,AbbVie Inc.,Health Care
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856,Accenture plc,IT

**Task: Add a \$ before the stock price**

In [47]:
# CODE HERE

In [48]:
merge["Price"] = merge["Price"].apply(lambda price: "$" + str(price))

In [49]:
merge.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion,Name,Sector
0,MMM,$222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055,3M Company,Industrials
1,AOS,$60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420,A.O. Smith Corp,Industrials
2,ABT,$56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042,Abbott Laboratories,Health Care
3,ABBV,$108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347,AbbVie Inc.,Health Care
4,ACN,$150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856,Accenture plc,IT